/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */
body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  line-height: 1.2;
  margin: 10px 0;
}

/* HEADER NAV BAR */
.nav-bar {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav-bar nav {
  padding: 12px 0 12px 0;
}

.nav-bar a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  display: block;
}

.nav-links a:hover {
  color: #00a5d3;
  border-radius: 25px;
}

.nav-links li:first-child a {
  color: #00a5d3;
}

.nav-links li:first-child a:hover {
  color: #ffffff;
}

.nav-links li:first-child {
  padding: 0 15px 0 15px;
}

.nav-links li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-right: 15px;
}

/* HERO */
.hero-image {
  background-image: url(../images/armoredcore1.png);
  background-position: center top;
  background-size: cover;
  border-radius: 25px;
  height: 93vh;
  margin-bottom: 20px;
  padding-top: 10vh;
}

.hero-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-title h1 {
  font-size: 10vw;
}

.horizontal-line {
  width: 100%;
  height: 5px;
  background-color: #00a5d3;
}

/* ABOUT ME */
.container-about {
  align-items: center;
  display: flex;
  padding: 10px 0 10px 0;
}

.container-title {
  flex: 1;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
}

.container-body {
  flex: 1.5;
  padding: 0 3vw;
}

/* MY WORK */
.container-work {
  align-items: center;
  display: flex;
  padding: 20px 0 16px 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.project-1 {
  background-color: #71797E;
  border-radius: 25px;
  padding: 10px;
  margin: 4px;
  flex: 0 1 800px;
}

.project-2, .project-3, .project-4, .project-5 {
  background-color: #71797E;
  border-radius: 25px;
  padding: 10px;
  margin: 4px;
  flex: 0 1 400px;
}

.project-1 img, .project-2 img, .project-3 img, .project-4 img, .project-5 img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}

.project-1 header, .project-2 header, .project-3 header, .project-4 header, .project-5 header {
  background-color: #000000
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover, .project-5:hover {
  text-decoration: underline;
  background-color: #00a5d3;
}

.project-header {
  border-radius: 0 0 25px 25px;
  font-size: 24px;
  margin-top: -3px;
  padding: 5px;
  text-align: center;
}

/* CONTACT ME */
.container-contact {
  align-items: center;
  display: flex;
}

.container-contact h4 {
  padding: 20px;
}

/* FOOTER */
footer {
  text-align: center;
}

footer h5 {
  font-size: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .nav-bar, .nav-links {
    justify-content: space-around;
  }

  .nav-links li ~ li {
    padding-left: 0;
    border: none;
  }

  .container-about, .container-work, .container-contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .container-about {
    padding-bottom: 0;
  }

  .container-work {
    padding: 10px;
  }

  .projects {
    margin-bottom: 6px;
  }

  .container-contact h4 {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .nav-bar, .nav-links {
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-bar nav {
    padding: 0;
  }

  .nav-links a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }

  .nav-links li ~ li {
    padding: 0;
    border-left: none;
  }

  .nav-links li:first-child {
    padding: 0;
  }

  .nav-links li:first-of-type a {
    border-top: none;
  }

  .nav-links li:last-of-type a {
    border-bottom: none;
  }
}