/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */
body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  color: #ffffff;
  line-height: 1.2;
  margin: 10px 0;
}

h1, h2, h3, h4, h5 {
  color: #ffffff;
  margin: 20px;
  font-size: 36px;
}

/* HEADER NAV BAR */
.navigation {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation nav {
  padding: 12px 0 12px 0;
}

.navigation a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  display: block;
}

.nav-links li {
  padding-left: 10px;
}

/* HERO */
.hero-image {
  background-image: url(../images/armoredcore1.png);
  background-position: center top;
  background-size: cover;
  height: 100vh;
  margin-bottom: 20px;
  padding-top: 10vh;
}