/* UNIVERSAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */
body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  line-height: 1.2;
  margin: 10px 0;
}

/* HEADER NAV BAR */
.nav-bar {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav-bar nav {
  padding: 12px 0 12px 0;
}

.nav-bar a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  display: block;
}

.nav-links a:hover {
  color: #00a5d3;
  border-radius: 25px;
}

.nav-links li:first-child a {
  color: #00a5d3;
}

.nav-links li:first-child a:hover {
  color: #ffffff;
}

.nav-links li:first-child {
  padding: 0 15px 0 15px;
}

.nav-links li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-right: 15px;
}

/* HERO */
.hero-image {
  background-image: url(../images/armoredcore1.png);
  background-position: center top;
  background-size: cover;
  border-radius: 25px;
  height: 93vh;
  margin-bottom: 20px;
  padding-top: 10vh;
}

.hero-image:after {
  bottom: 3vh;
  border: 10px solid;
  border-color: #ffffff transparent transparent;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}

.hero-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-title h1 {
  font-size: 10vw;
}

.horizontal-line {
  background-color: #00a5d3;
  height: 5px;
  width: 100%;
}

/* ABOUT ME */
.about {
  align-items: center;
  display: flex;
  padding: 10px 0 10px 0;
}

.title {
  flex: 1;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
}

.body {
  flex: 1.5;
  padding: 0 3vw;
}

/* MY WORK */
.work {
  align-items: center;
  display: flex;
  padding: 20px 0 16px 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.project-big {
  background-color: #71797E;
  border-radius: 25px;
  padding: 10px;
  margin: 4px;
  flex: 0 1 800px;
}

.project-small {
  background-color: #71797E;
  border-radius: 25px;
  padding: 10px;
  margin: 4px;
  flex: 0 1 400px;
}

.project-big img, .project-small img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}

.project-big header, .project-small header {
  background-color: #000000
}

.project-big:hover, .project-small:hover {
  text-decoration: underline;
  background-color: #00a5d3;
  opacity: 0.8;
}

.project-header {
  border-radius: 0 0 25px 25px;
  font-size: 24px;
  margin-top: -3px;
  padding: 5px;
  text-align: center;
}

/* CONTACT ME */
.contact {
  align-items: center;
  display: flex;
}

.contact h4 {
  padding: 20px;
}

.contact ul {
  list-style: none;
}

.contact li {
  margin: 10px 0;
}

.contact a {
  text-decoration: underline;
}

.contact a:hover {
  color: #00a5d3;
}

/* SOCIAL LINKS */
.social-list {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.social-list li {
  display: inline-block;
  margin: 0 0.5em;
}

.social-links {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 99px;
  color: #00a5d3;
  display: inline-block;
  font-size: 1.7em;
  font-weight: bold;
  height: 1.5em;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}

.social-links:hover {
  background-color: #00a5d3;
  color: #ffffff;
}

/* FOOTER */
footer {
  text-align: center;
}

footer h5 {
  padding: 25px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .nav-bar, .nav-links {
    justify-content: space-around;
  }

  .nav-links li ~ li {
    padding-left: 0;
    border: none;
  }

  .about, .work, .contact {
    flex-direction: column;
  }

  .about {
    margin-top: 2px;
  }

  .work {
    padding: 12px 0 8px 0;
  }

  .projects {
    margin-bottom: 8px;
  }

  .contact h4 {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .contact ul {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .hero-image {
    height: 80vh;
  }

  .about {
    margin-top: 2px;
  }

  .work {
    padding: 12px 0 8px 0;
  }

  .projects {
    margin-bottom: 10px;
  }

  .contact h4 {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .contact ul {
    text-align: center;
  }

  .about h2, .work h3, .contact h4 {
    font-size: 24px;
    font-weight: bold;
  }

  .nav-bar, .nav-links {
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-bar nav {
    padding: 0;
  }

  .nav-links a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }

  .nav-links li ~ li {
    padding: 0;
    border-left: none;
  }

  .nav-links li:first-child {
    padding: 0;
  }

  .nav-links li:first-of-type a {
    border-top: none;
  }

  .nav-links li:last-of-type a {
    border-bottom: none;
  }
}